:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.user-report {
    background-color: var(--pi-colour-default);
}

.user-info {
    border-bottom: 1px solid var(--pi-colour-light);
}
