<sc-page>
    <sc-page-content>
        <div class="container">
            <div class="grid" cols="2">
                <div>
                    <sc-show-picture [picture]="picture" (deleted)="deleted()" [dedicated]="true" [redirectApproval]="fromApprovals"></sc-show-picture>

                    <div class="mt-l" *ngIf="nearby?.length > 0" @fade>
                        <h3 class="mb-s">Nearby Pictures</h3>
                        <div class="card image-list">
                            <a
                                class="card-shadow"
                                [routerLink]="'/picture/' + img.pictureId"
                                [style.background-image]="'url(' + (img.path | imgUrl) + ')'"
                                *ngFor="let img of nearby"
                            >
                            </a>
                        </div>
                    </div>
                </div>

                <sc-show-map class="card-shadow mb" [options]="mapOptions" [style.height.%]="100"></sc-show-map>
            </div>
        </div>
    </sc-page-content>
</sc-page>
