<pi-page [small]="true">
    <pi-page-header [attr.background]="valid === true ? 'success' : null">
        <h2>Confirm Email</h2>
    </pi-page-header>

    <pi-page-content>
        <div *ngIf="valid === null">
            <i class="fas fa-spinner-third fa-spin"></i>
        </div>

        <div *ngIf="valid === false && !error">The provided key has been used, expired or is invalid</div>

        <div colour="danger" *ngIf="valid === false && error">{{ error | trx }}</div>

        <div *ngIf="valid === true">Your email has been confirmed successfully</div>
    </pi-page-content>
</pi-page>
