<div class="container flex-row-align">
    <h1 class="logo">
        <a class="header-link logo-link" routerLink="/">Snow Capture</a>
    </h1>

    <div class="flex-spacer"></div>

    <i class="fad fa-snowflakes"></i>

    <div class="flex-spacer"></div>

    <ng-container *ngIf="authState.loggedIn; else loggedOutLinks">
        <button
            class="button icon-only notif dropdown-toggle mr-s"
            background="default"
            hover="light"
            tippy="Moderator Notifications"
            placement="bottom"
            [hideOnFocus]="true"
            *ngIf="authState.is_mod"
        >
            <i class="icon fas fa-shield" [class.alerted]="alerted['mod']"></i>
            <span *ngIf="unread['mod'] as modUnread">{{ modUnread }}</span>

            <sc-drop-down position="bottomleft" [y]="7" [x]="-5" [width]="350" (opened)="viewNotifications('mod')">
                <sc-notifications #modNotif (latest)="newNotification('mod', $event)" [mod]="true"></sc-notifications>
            </sc-drop-down>
        </button>

        <button
            class="button icon-only notif dropdown-toggle mr-s"
            background="default"
            hover="light"
            tippy="Notifications"
            placement="bottom"
            [hideOnFocus]="true"
        >
            <i class="icon fas fa-bell" [class.alerted]="alerted['user']"></i>
            <span *ngIf="unread['user'] as userUnread">{{ userUnread }}</span>

            <sc-drop-down position="bottomleft" [y]="7" [x]="-5" [width]="350" (opened)="viewNotifications('user')">
                <sc-notifications #userNotif (latest)="newNotification('user', $event)"></sc-notifications>
            </sc-drop-down>
        </button>

        <button
            class="button"
            background="light"
            (click)="events.trigger(CustomEvent.Upload)"
            [class.sc-loading]="!authState.contentSettings"
            *ngIf="authState.contentSettings?.uploadEnabled !== false"
        >
            <ng-container *ngIf="authState.contentSettings; else uploadSpinner">
                Upload
                <i class="icon far fa-upload"></i>
            </ng-container>

            <ng-template #uploadSpinner>
                <span><i class="fas fa-spinner-third fa-spin icon" position="middle"></i></span>
            </ng-template>
        </button>

        <button class="header-link dropdown-toggle">
            <div class="user-info">
                <sc-avatar [name]="authState.user.username" [size]="28" bg="var(--sc-colour-primary)" fg="var(--sc-colour-primary-contrast)"></sc-avatar>
            </div>

            <sc-drop-down position="bottomleft" [y]="10" [x]="-5">
                <a class="link-title" [routerLink]="'/user/' + authState.user.username">
                    <div class="user-info">
                        <sc-avatar
                            [name]="authState.user.username"
                            [size]="28"
                            bg="var(--sc-colour-primary)"
                            fg="var(--sc-colour-primary-contrast)"
                        ></sc-avatar>

                        <div>
                            <h4>{{ authState.user.name }}</h4>
                            <small colour="medium">@{{ authState.user.username }}</small>
                        </div>
                    </div>
                </a>

                <div class="link-section">
                    <a [routerLink]="'/user/' + authState.user.username + '/drafts'" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        Drafts
                        <i class="far fa-pencil-ruler"></i>
                    </a>
                    <a [routerLink]="'/user/' + authState.user.username" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                        Pictures
                        <i class="far fa-images"></i>
                    </a>
                    <a [routerLink]="'/user/' + authState.user.username + '/collections'" routerLinkActive="active">
                        Collections
                        <i class="far fa-layer-group"></i>
                    </a>
                    <a [routerLink]="'/user/' + authState.user.username + '/likes'" routerLinkActive="active">
                        Likes
                        <i class="far fa-heart"></i>
                    </a>
                </div>

                <div class="link-section" *ngIf="authState.is_admin || authState.is_mod">
                    <a routerLink="/mod" routerLinkActive="active">
                        Mod Dashboard
                        <i class="far fa-sword"></i>
                    </a>

                    <button type="button" (click)="sendAdminMessage()" *ngIf="authState.is_admin">
                        Admin Message
                        <i class="far fa-comment"></i>
                    </button>
                </div>

                <div class="link-section">
                    <a routerLink="/settings" routerLinkActive="active">
                        Settings
                        <i class="far fa-cogs"></i>
                    </a>
                    <a (click)="events.trigger(CustomEvent.Logout)" colour="danger" data-dropdown-link>
                        Logout
                        <i class="far fa-sign-out-alt"></i>
                    </a>
                </div>
            </sc-drop-down>
        </button>
    </ng-container>
</div>

<ng-template #loggedOutLinks>
    <button class="button mr-s" background="light" (click)="events.trigger(CustomEvent.Register)">Register</button>
    <button class="button mr" background="light" (click)="events.trigger(CustomEvent.Login)">Login</button>
</ng-template>
