<sc-modal-wrapper (closed)="dismiss()">
    <div class="mb">
        <h2>{{ collection?.collectionId ? 'Edit' : 'New' }} Collection</h2>
        <p>
            A collection allows you to save pictures into a group. Some examples could be <strong>Landscapes</strong>, <strong>Skiing</strong>,
            <strong>At Night</strong> etc.
        </p>
    </div>

    <form (submit)="save()" [formGroup]="form" novalidate="novalidate">
        <div class="form-section mb">
            <label for="collection-name">Name</label>
            <input id="collection-name" class="input" type="text" formControlName="name" />

            <small *ngIf="form.get('name').hasError('minlength')" class="mt-s" colour="danger"> {{ 'form_errors.minlength' | trx }} </small>

            <small *ngIf="form.get('name').hasError('maxlength')" class="mt-s" colour="danger"> {{ 'form_errors.maxlength' | trx }} </small>
        </div>

        <div class="flex-row-align mt">
            <button type="button" class="button" background="light" (click)="dismiss()">Cancel</button>

            <div class="flex-spacer"></div>

            <button type="submit" id="save-collection-btn" class="button" background="primary" [disabled]="form.invalid">
                {{ collection?.collectionId ? 'Save' : 'Create' }}
            </button>
        </div>
    </form>
</sc-modal-wrapper>
