:host {
    display: block;
    position: relative;
    border-radius: var(--sc-br);
    background-color: var(--sc-colour-default);
}

.picture-img {
    height: 400px;
    background-color: #111;
    border-radius: var(--sc-br) var(--sc-br) 0 0;
    overflow: hidden;

    img {
        display: block;
        max-height: 100%;
        margin: auto;
    }
}

.card.small {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    & + .picture-img {
        border-radius: 0;
    }
}
