<ng-container *ngIf="!loading; else loadingRef">
    <div class="link-section" *ngIf="collections.length > 0">
        <button
            *ngFor="let col of collections; let i = index"
            [id]="'collection-btn' + col.collectionId"
            type="button"
            (click)="addRemoveCollection(col.collectionId)"
            [attr.title]="col.name.length > 20 ? col.name : null"
            [disabled]="loadingMap[col.collectionId]"
            class="btn-collection"
        >
            {{ col.name }}

            <span class="col-icon" *ngIf="loadingMap[col.collectionId]"><i class="far fa-spin fa-spinner-third"></i></span>

            <ng-container *ngIf="!loadingMap[col.collectionId]">
                <span class="col-icon" *ngIf="!inCollectionMap[col.collectionId]">
                    <i class="far fa-plus-circle"></i>
                </span>

                <span class="col-icon" *ngIf="inCollectionMap[col.collectionId]">
                    <i class="far fa-check-circle action-icon" colour="success"></i>
                    <i class="far fa-minus-circle remove action-icon" colour="danger"></i>
                </span>
            </ng-container>
        </button>
    </div>

    <div class="ta-c p-s px" colour="medium" *ngIf="!results?.totalRows">
        <p>Create your first collection</p>
        <button type="button" class="button mt-s" background="light" (click)="openNewCollection()">
            New Collection
            <i class="icon far fa-plus"></i>
        </button>
    </div>

    <div class="pb-s ta-c" *ngIf="results?.hasNextPage">
        <div id="load-more-collection-btn" class="button" background="light" (click)="fetch(true)">Load More</div>
    </div>
</ng-container>

<ng-template #loadingRef>
    <div class="p ta-c">
        <i class="fas fa-spinner-third fa-spin"></i>
    </div>
</ng-template>
