.btn-collection {
    padding-right: 30px !important;

    .col-icon {
        position: absolute;
        right: 0.5rem;
        font-size: 18px;
        margin-top: -3px;
        color: var(--sc-colour-default-contrast);
    }

    .action-icon {
        position: absolute;
        right: 0;
        opacity: 1;
        transition: ease 0.25s opacity;
    }

    .remove {
        opacity: 0;
    }

    &:hover {
        .action-icon {
            opacity: 0;
        }

        .remove {
            opacity: 1;
        }
    }
}
