:host {
    display: block;
    position: relative;
    margin-top: auto;

    background-color: var(--pi-colour-default);
    color: var(--pi-colour-default-contrast);
    border-top: 10px solid var(--pi-colour-light);
}

.footer-links {
    > a {
        margin-bottom: 0.5rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.locales {
    margin-top: 1rem;
    text-align: center;

    button {
        margin: 0 5px;
        opacity: 0.5;

        &.active {
            opacity: 1;
        }
    }

    img {
    }
}
