<div class="container flex-row">
    <div class="footer-links flex-col">
        <div class="flex-row-align">
            <label for="night_mode">Night Mode &nbsp;</label>
            <sc-toggle-switch
                name="night_mode"
                [small]="true"
                [checked]="appState.observe('nightMode') | async"
                (checkedChange)="appState.toggleNightMode()"
            ></sc-toggle-switch>
        </div>
    </div>

    <div class="logo ma">
        <div class="flex-row-align">
            <a colour-contrast="default" routerLink="/">Snow Capture</a>

            <div
                class="ml-s"
                [tippy]="env.gateway"
                placement="right"
                [attr.colour]="siteLoader.healthy === null ? 'info' : siteLoader.healthy ? 'success' : 'danger'"
                *ngIf="!env.production"
            >
                <i class="fas fa-circle"></i>
            </div>
        </div>

        <div class="locales">
            <button
                [class.active]="translate.currentLang.toLowerCase() == lang.locale"
                type="button"
                (click)="updateLang(lang.locale)"
                [tippy]="lang.name"
                placement="top"
                *ngFor="let lang of langs"
            >
                <img [src]="'assets/images/flags/' + lang.locale + '.png'" />
            </button>
        </div>
    </div>

    <div class="footer-links flex-col">
        <a routerLink="/faq" routerLinkActive="active">FAQs</a>
        <a routerLink="/policies/terms" routerLinkActive="active">Terms & Conditions</a>
        <a routerLink="/policies/privacy" routerLinkActive="active">Privacy Policy</a>
        <a routerLink="/policies/cookies" routerLinkActive="active">Cookie Policy</a>
    </div>
</div>
