<sc-page-content>
    <div>
        <div class="container pb-0 flex-row-align">
            <div class="form-section button-attached flex-row">
                <input class="input" type="text" #searchInput placeholder="Search for a location" [disabled]="getting" />
                <label class="button affix icon-only" background="primary">
                    <i class="fas fa-search" *ngIf="!getting"></i>
                    <i class="fas fa-spinner-third fa-spin" *ngIf="getting"></i>
                </label>
            </div>

            <div class="flex-spacer"></div>

            <button class="button dropdown-toggle">
                <button class="remove-ico mr-s" (click)="removeOrderBy(); search()" tippy="Remove filter" placement="left" *ngIf="!sameOrderBy()">
                    <i class="far fa-times"></i>
                </button>

                <span *ngIf="!pager.orderBy">Order By</span>

                <strong *ngIf="pager.orderBy">{{ 'locations.order_by.' + pager.orderBy | trx }}</strong>

                <i class="far fa-angle-down ml-s"></i>

                <sc-drop-down position="bottomleft" [y]="-5" [x]="5">
                    <div class="link-section">
                        <button *ngFor="let o of enum_values" (click)="pager.orderBy = o; search()" [class.active]="pager.orderBy === o">
                            {{ 'locations.order_by.' + o | trx }}
                        </button>
                    </div>
                </sc-drop-down>
            </button>

            <button
                class="ml-s"
                (click)="pager.orderDir = 'desc'; search()"
                tippy="Sort by descending"
                placement="bottom-start"
                *ngIf="pager.orderBy && pager.orderDir === 'asc'"
            >
                <i class="far fa-sort-amount-down-alt"></i>
            </button>
            <button
                class="ml-s"
                (click)="pager.orderDir = 'asc'; search()"
                tippy="Sort by ascending"
                placement="bottom-start"
                *ngIf="pager.orderBy && pager.orderDir === 'desc'"
            >
                <i class="far fa-sort-amount-up-alt"></i>
            </button>
        </div>
    </div>

    <ng-container *ngIf="!getting else loadingRef">
        <div class="full-content" *ngIf="!result?.totalRows">
            <p>No locations found</p>
        </div>

        <div class="container" *ngIf="result?.totalRows">
            <ng-container *ngFor="let location of result.rows || []; let $i = index">
                <h4 [class.mt]="$i > 0" *ngIf="headerFn($i) as header">{{ header }}</h4>
                <div class="card p-s flex-row-align mt-s">
                    {{ location.name }}

                    <span class="pill ml-s" background="light" *ngIf="location.code else showCodeWarning">
                        <strong>{{ location.code }}</strong>
                    </span>
                    <ng-template #showCodeWarning>
                        <strong colour="danger" class="ml-s">*code required</strong>
                    </ng-template>

                    <div class="flex-spacer"></div>

                    <button
                        [id]="location.locationId + '_code'"
                        class="button small icon-only ml"
                        hover="light"
                        (click)="edit($i, 'code')"
                        tippy="Edit location code"
                        placement="left"
                    >
                        <i class="far fa-tag icon"></i>
                    </button>

                    <button
                        [id]="location.locationId + '_name'"
                        class="button small icon-only ml-s"
                        hover="light"
                        (click)="edit($i, 'name')"
                        tippy="Edit location name"
                        placement="left"
                    >
                        <i class="far fa-pencil icon"></i>
                    </button>
                </div>
            </ng-container>

            <div class="mt" *ngIf="result?.hasNextPage">
                <button class="button" background="primary" [disabled]="getting" (click)="loadMore()">Load More</button>
            </div>
        </div>
    </ng-container>
</sc-page-content>

<ng-template #loadingRef>
    <div class="full-content">
        <p>Loading</p>
        <p><i class="fas fa-spinner-third fa-spin"></i></p>
    </div>
</ng-template>
