<sc-modal-wrapper (closed)="dismiss()">
    <h2>Register with {{ providerResult.provider | titlecase }}</h2>

    <form (submit)="register()" [formGroup]="form" novalidate="novalidate" *ngIf="form">
        <p>
            You are about to create a new account on Snow Capture using a login from {{ providerResult.provider | titlecase }} (<strong>{{
                user.email
            }}</strong
            >)
        </p>

        <div class="form-section my">
            <label for="name">Name</label>
            <input id="name" class="input" type="text" autocomplete="name" formControlName="name" />

            <small *ngIf="form.get('name').hasError('maxlength')" class="mt-s" colour="danger"> {{ 'form_errors.maxlength' | trx }} </small>
        </div>

        <div class="form-section mb">
            <label for="username">Choose a username</label>
            <input id="username" class="input" type="text" autocomplete="username" formControlName="username" />

            <small *ngIf="form.get('username').hasError('minlength')" class="mt-s" colour="danger"> {{ 'form_errors.minlength' | trx }} </small>
            <small *ngIf="form.get('username').hasError('maxlength')" class="mt-s" colour="danger"> {{ 'form_errors.maxlength' | trx }} </small>
            <small *ngIf="form.get('username').hasError('pattern')" class="mt-s" colour="danger">
                {{ 'form_errors.patter' | trx: { name: 'Username' } }}
            </small>
        </div>

        <label for="terms">
            <input id="terms" type="checkbox" formControlName="terms" /> I have read, understood and agreed to our
            <a routerLink="/policies/terms" target="_blank" rel="noopener">Terms & Conditions</a> and
            <a routerLink="/policies/privacy" target="_blank" rel="noopener">Privacy</a>
            polices.
        </label>

        <div class="br p-s mt" background="danger" *ngIf="regError">{{ regError | trx }}</div>

        <ng-container *ngIf="loginError">
            <div class="br p-s mt" background="success">Your account has been created successfully</div>
            <div class="br p-s mt" background="danger">{{ loginError | trx }}</div>
        </ng-container>

        <div class="flex-row mt">
            <button class="button mr" background="light" type="button" (click)="dismiss()" [disabled]="form.disabled">Cancel</button>

            <button id="register-btn" class="button ml-a" background="primary" type="submit" [disabled]="form.invalid">
                Create Account
                <i class="icon far fa-arrow-right"></i>
            </button>
        </div>
    </form>
</sc-modal-wrapper>
