:host {
    &::ng-deep {
        sc-page-header {
            background: var(--sc-colour-primary);
            color: var(--sc-colour-primary-contrast);

            h2 {
                color: var(--sc-colour-primary-contrast);
            }

            .page-links {
                a {
                    display: inline-block;
                    min-width: 75px;
                    border-radius: var(--sc-button-br);
                    padding: 5px 12px;
                    color: var(--sc-colour-primary-contrast);
                    transition: ease 0.25s;
                    opacity: 1;
                    border: 1px dotted var(--sc-colour-primary-shade);
                    text-align: center;

                    &.active,
                    &:hover {
                        background-color: var(--sc-colour-primary-shade);
                        border-style: solid;
                    }

                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    &:not(.small)::ng-deep {
        sc-page-header {
            position: sticky;
            top: var(--sc-header-height);
            z-index: 10;
        }
    }

    &.small::ng-deep {
        sc-page-header,
        sc-page-content {
            position: relative;
            top: 0;
            width: 100%;
            max-width: 500px;
            min-width: auto;
            margin: {
                right: auto;
                left: auto;
            }
            box-shadow: 0 3px 3px rgba(var(--sc-colour-dark-rgb), 0.1);
        }

        sc-page-header {
            position: relative;
            top: 0;
            margin-top: 1rem;
            border-radius: var(--sc-br) var(--sc-br) 0 0;

            .container {
                padding: 1rem;
            }
        }

        sc-page-content {
            position: relative;
            padding: 1rem;
            border-radius: 0 0 var(--sc-br) var(--sc-br);
            flex-grow: 0;
            margin-bottom: 1rem;
            z-index: 3;
            background: var(--sc-colour-default);
            color: var(--sc-colour-default-contrast);
        }
    }
}
