.container {
    width: 100%;
    margin: {
        right: auto;
        left: auto;
    }

    &:not(.unlimited) {
        max-width: 1400px;
        padding: {
            right: 1rem;
            left: 1rem;
        }
    }

    &:not(.inner) {
        flex-grow: 1;
        height: 100%;
        padding: {
            top: 1rem;
            bottom: 1rem;
        }
    }
}

.grid {
    width: 100%;
    grid-gap: 1.5rem;
    display: grid;
    grid-template-columns: 100%;

    &[cols='2'],
    &.cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    &[cols='3'],
    &.cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &[cols='4'],
    &.cols-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 1300px) {
        &.cols-md-1 {
            grid-template-columns: repeat(1, 1fr);

            &.middle-items > * {
                margin-right: auto;
                margin-left: auto;
            }
        }

        &.cols-md-2 {
            grid-template-columns: repeat(2, 1fr);

            &.middle-items > * {
                &:nth-child(even) {
                    margin-right: auto;
                }

                &:nth-child(odd) {
                    margin-left: auto;
                }
            }
        }

        &.cols-md-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.cols-md-4 {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media (max-width: 768px) {
        &.cols-sm-1 {
            grid-template-columns: repeat(1, 1fr);

            &.middle-items > * {
                margin-right: auto;
                margin-left: auto;
            }
        }

        &.cols-sm-2 {
            grid-template-columns: repeat(2, 1fr);

            &.middle-items > * {
                &:nth-child(even) {
                    margin-right: auto;
                }

                &:nth-child(odd) {
                    margin-left: auto;
                }
            }
        }

        &.cols-sm-3 {
            grid-template-columns: repeat(3, 1fr);
        }

        &.cols-sm-4 {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
