<div class="form-box flex-row-align mb" background="danger" *ngIf="errored === true">An unexpected error occurred, please try again later</div>

<div class="form-box flex-row-align mb" *ngFor="let pref of prefs">
    <div>
        <span class="label">{{ "settings.preferences." + pref.key + ".title" | trx }}</span>
        <small>{{ "settings.preferences." + pref.key + ".subtitle" | trx }}</small>
    </div>

    <sc-toggle-switch class="ml-a" [checked]="pref.value" (checkedChange)="toggle(pref.key, $event)"></sc-toggle-switch>
</div>

<ng-container *ngIf="errored === null">
    <div class="form-box flex-row-align mb" *ngFor="let a of [0,1,2]">
        <div>
            <sc-skeleton-text height="17px" width="80px" radius="15px" margin="0 0 3px" [animated]="true"></sc-skeleton-text>
            <sc-skeleton-text height="17px" width="250px" radius="15px" [animated]="true"></sc-skeleton-text>
        </div>

        <div class="flex-spacer"></div>

        <sc-skeleton-text height="28px" width="50px" radius="50px" [animated]="true"></sc-skeleton-text>
    </div>
</ng-container>
