<div class="form-box flex-row-align mb" background="danger" *ngIf="errored === true">An unexpected error occurred, please try again later</div>

<h2 class="mb">Email Preferences</h2>
<div class="form-box flex-row-align mb" *ngFor="let key of emailPrefs">
    <div>
        <span class="label">{{ "settings.preferences." + key + ".title" | trx }}</span>
        <small>{{ "settings.preferences." + key + ".subtitle" | trx }}</small>
    </div>

    <sc-toggle-switch class="ml-a" [checked]="settings[key]" (checkedChange)="toggle(key, $event)"></sc-toggle-switch>
</div>

<ng-container *ngIf="errored === null">
    <div class="form-box flex-row-align mb" *ngFor="let a of [0,1,2]">
        <div>
            <sc-skeleton-text height="17px" width="80px" radius="15px" margin="0 0 3px" [animated]="true"></sc-skeleton-text>
            <sc-skeleton-text height="17px" width="250px" radius="15px" [animated]="true"></sc-skeleton-text>
        </div>

        <div class="flex-spacer"></div>

        <sc-skeleton-text height="28px" width="50px" radius="50px" [animated]="true"></sc-skeleton-text>
    </div>
</ng-container>
