::ng-deep {
    .popup-picture {
        text-align: left;

        .leaflet-popup-content-wrapper {
            border-radius: var(--sc-br);
            box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
        }

        .leaflet-popup-content {
            padding: 0;
            margin: 0;
        }

        a.leaflet-popup-close-button {
            top: -5px;
            right: -5px;
            width: 17px;
            height: 17px;
            padding: 1px 0 0;
            color: var(--sc-colour-primary-contrast);
            background-color: var(--sc-colour-primary);
            border-radius: 50%;

            &:hover {
                opacity: 1;
                background-color: var(--sc-colour-primary-shade);
                color: var(--sc-colour-primary-contrast);
            }
        }
    }
}

.picture-popup-link {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    color: var(--sc-colour-default-contrast);

    &:hover {
        opacity: 1;
    }
}

img {
    height: 84px;
    border-radius: var(--sc-br);
    margin-right: 0.25rem;
}

.picture-popup-details {
    p {
        display: block;
        margin: 0;

        &:not(:first-child) {
            margin-top: 0.25rem;
        }

        i {
            width: 15px;
        }

        // &:not(:first-child) {
        //     color: var(--sc-colour-medium);
        //     font-size: 0.9em;
        //     margin-top: 2px;

        //     i {
        //         font-size: 0.9em;
        //     }
        // }
    }
}
