<div class="container">
    <div class="text-content">
        <h3>What are cookies?</h3>
        <p>
            Cookies are small files which are stored on a user's computer. They are designed to hold a modest amount of data specific to a particular
            client and website, and can be accessed either by the web server or the client computer. This allows the server to deliver a page tailored to a
            particular user, or the page itself can contain some script which is aware of the data in the cookie and so is able to carry information from
            one visit to the website (or related site) to the next.
        </p>

        <h3>How we use cookies</h3>
        <p>
            We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard options for disabling
            cookies without completely disabling the functionality and features they add to this site.
        </p>
        <p>
            It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service
            that you use.
        </p>

        <h3>Disabling Cookies</h3>
        <p>
            You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that
            disabling cookies will affect the functionality of this and many other websites that you visit.
        </p>
        <p>
            Disabling cookies will usually result in also disabling certain functionality and features of the this site. Therefore it is recommended that
            you do not disable cookies.
        </p>

        <h3>The cookies we set</h3>
        <p>
            If you create an account with us then we will use cookies for the management of the signup process and general administration. These cookies
            will usually be deleted when you log out however in some cases they may remain afterwards to remember your site preferences when logged out.
        </p>
        <p>
            We use cookies when you are logged in so that we can remember this fact. This prevents you from having to log in every single time you visit a
            new page. These cookies are typically removed or cleared when you log out to ensure that you can only access restricted features and areas when
            logged in.
        </p>
        <p>
            This site offers newsletter or email subscription services and cookies may be used to remember if you are already registered and whether to
            show certain notifications which might only be valid to subscribed/unsubscribed users.
        </p>
        <p>
            When you submit data to through a form such as those found on contact pages or comment forms cookies may be set to remember your user details
            for future correspondence.
        </p>

        <h3>Third party cookies</h3>
        <p>
            In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might
            encounter through this site.
        </p>
        <p>
            This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how
            you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the
            pages that you visit so we can continue to produce engaging content.
        </p>
        <p>For more information on Google Analytics cookies, see the official Google Analytics page.</p>
        <p>
            The
            <a href="https://support.google.com/adsense/answer/2839090" target="_blank" rel="noopener">DoubleClick</a> cookie is used by Google in ads that
            are served on the websites of its partners - such as websites displaying AdSense ads, or participating in Google certified ad networks. When
            users visit a partner's website and either view or click on an ad, a cookie may be dropped on the end user's browser.
        </p>

        <h3>More information</h3>
        <p>
            Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not
            it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site. However if you are still
            looking for more information then you can contact us through one of our preferred contact methods.
        </p>

        <h3>Cookie Status</h3>

        <div>
            <p *ngIf="cookieConsent.enabled">You are currently enabling cookies.</p>
            <p *ngIf="!cookieConsent.enabled">You are currently disabling cookies.</p>
        </div>

        <div>
            <button class="button" background="danger" (click)="cookieConsent.disableCookies()" *ngIf="cookieConsent.enabled">Disable</button>
            <button class="button" background="primary" (click)="cookieConsent.enableCookies()" *ngIf="!cookieConsent.enabled">Enable</button>
        </div>
    </div>
</div>
