<pi-modal-wrapper (closed)="dismiss()" [ngSwitch]="type">
    <div class="auth-links mb">
        <button [class.active]="type === 'login'" (click)="type = 'login'" *ngIf="type !== 'two-factor'">Login</button>
        <button [class.active]="type === 'two-factor'" (click)="type = 'two-factor'" *ngIf="type === 'two-factor'">Login</button>
        <button [class.active]="type === 'register'" (click)="type = 'register'">Register</button>
    </div>

    <div class="form-wrapper">
        <pi-register *ngSwitchCase="'register'" (completed)="reload()"></pi-register>
        <pi-two-factor *ngSwitchCase="'two-factor'" (completed)="reload()"></pi-two-factor>
        <pi-login *ngSwitchDefault (completed)="$event === false ? type = 'two-factor' : reload()"></pi-login>

        <div class="loading-overlay" *ngIf="loading"></div>
    </div>

    <div class="login-providers mt pt" *ngIf="['login','register'].includes(type)">
        <button
            type="button"
            class="button {{ provider | lowercase }}"
            background="light"
            (click)="loginWithProvider(provider)"
            [disabled]="loading"
            *ngFor="let provider of providers"
        >
            <i class="fab fa-{{ provider | lowercase }}"></i>
            <span class="provider-text">{{ type === 'login' ? 'Sign in' : 'Sign up' }} with {{ provider | titlecase }}</span>
        </button>
    </div>
</pi-modal-wrapper>
