[*.cs]

# RCS1090: Add call to 'ConfigureAwait' (or vice versa).
dotnet_diagnostic.RCS1090.severity = none

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# RCS1118: Mark local variable as const.
dotnet_diagnostic.RCS1118.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = none

# RCS1155: Use StringComparison when comparing strings.
dotnet_diagnostic.RCS1155.severity = none
