<sc-page [small]="true" *ngIf="!success else successRef">
    <sc-page-header>
        <h2>Reset Password</h2>
    </sc-page-header>

    <sc-page-content>
        <div *ngIf="valid === null">
            <i class="fas fa-spinner-third fa-spin"></i>
        </div>

        <div *ngIf="valid === false">The provided key has been used, expired or is invalid</div>

        <form *ngIf="valid === true && form" (submit)="reset()" [formGroup]="form" novalidate="novalidate">
            <div class="form-section mb">
                <div class="flex-row-align">
                    <label for="password">New Password</label>

                    <div class="flex-spacer"></div>

                    <small *ngIf="pwStrength" class="mt-s" [attr.colour]="pwStrength.colour"> {{ pwStrength.message }} </small>
                    <small *ngIf="form.get('password').hasError('minlength')" class="mt-s" colour="danger"> {{ 'form_errors.minlength' | trx }} </small>
                    <small *ngIf="form.get('password').hasError('maxlength')" class="mt-s" colour="danger"> {{ 'form_errors.maxlength' | trx }} </small>
                </div>
                <input id="password" class="input" type="password" autocomplete="new-password" formControlName="password" />
            </div>

            <div class="form-section mb">
                <label for="c-password">Confirm Password</label>
                <input id="c-password" class="input" type="password" autocomplete="new-password" formControlName="confirmPassword" />

                <small *ngIf="form.get('confirmPassword').hasError('mismatch')" class="mt-s" colour="danger">
                    {{ 'form_errors.mismatch' | trx: { name: 'Passwords' } }}
                </small>
            </div>

            <div class="flex-row mt">
                <label for="clear"><input id="clear" type="checkbox" formControlName="clear" /> Logout from all sessions</label>
                <button id="reset-btn" class="button ml-a" background="primary" type="submit" [disabled]="form.invalid">Reset Password</button>
            </div>
        </form>
    </sc-page-content>
</sc-page>

<ng-template #successRef>
    <sc-page [small]="true">
        <sc-page-header background="success">
            <h2>Password Reset</h2>
        </sc-page-header>

        <sc-page-content>
            <div>Your password has been reset successfully</div>
        </sc-page-content>
    </sc-page>
</ng-template>
