<div class="container flex-row-align">
    <h1 class="logo">
        <a class="header-link logo-link" routerLink="/">Project Infinite</a>
    </h1>

    <div class="flex-spacer"></div>

    <i class="fas fa-infinity icon-logo"></i>

    <div class="flex-spacer"></div>

    <ng-container *ngIf="authState.loggedIn; else loggedOutLinks">
        <button
            type="button"
            class="button icon-only notif dropdown-toggle mr-s"
            background="default"
            hover="light"
            tippy="Moderator Notifications"
            placement="bottom"
            [hideOnFocus]="true"
            *ngIf="authState.is_mod"
        >
            <i class="icon fas fa-shield" [class.alerted]="alerted['mod']"></i>
            <span *ngIf="unread['mod'] as modUnread">{{ modUnread }}</span>

            <pi-drop-down position="bottomleft" [y]="7" [x]="-5" [width]="350" (opened)="viewNotifications('mod')">
                <pi-notifications #modNotif (latest)="newNotification('mod', $event)" [mod]="true"></pi-notifications>
            </pi-drop-down>
        </button>

        <button
            type="button"
            class="button icon-only notif dropdown-toggle mr-s"
            background="default"
            hover="light"
            tippy="Notifications"
            placement="bottom"
            [hideOnFocus]="true"
        >
            <i class="icon fas fa-bell" [class.alerted]="alerted['user']"></i>
            <span *ngIf="unread['user'] as userUnread">{{ userUnread }}</span>

            <pi-drop-down position="bottomleft" [y]="7" [x]="-5" [width]="350" (opened)="viewNotifications('user')">
                <pi-notifications #userNotif (latest)="newNotification('user', $event)"></pi-notifications>
            </pi-drop-down>
        </button>

        <button type="button" class="header-link dropdown-toggle" *ngIf="authState.observe('user') | async as user">
            <div class="user-info">
                <pi-avatar [name]="user.username" [size]="28" bg="var(--pi-colour-primary)" fg="var(--pi-colour-primary-contrast)"></pi-avatar>
            </div>

            <pi-drop-down position="bottomleft" [y]="10" [x]="-5">
                <a class="link-title" [routerLink]="'/user/' + user.username">
                    <div class="user-info">
                        <pi-avatar [name]="user.username" [size]="28" bg="var(--pi-colour-primary)" fg="var(--pi-colour-primary-contrast)"></pi-avatar>

                        <div>
                            <h4>{{ user.name }}</h4>
                            <small colour="medium">&#64;{{ user.username }}</small>
                        </div>
                    </div>
                </a>

                <div class="link-section" *ngIf="authState.is_admin || authState.is_mod">
                    <a routerLink="/mod" routerLinkActive="active">
                        Mod Dashboard
                        <i class="far fa-sword"></i>
                    </a>

                    <button type="button" (click)="sendAdminMessage()" *ngIf="authState.is_admin">
                        Admin Message
                        <i class="far fa-comment"></i>
                    </button>
                </div>

                <div class="link-section">
                    <a routerLink="/settings" routerLinkActive="active">
                        Settings
                        <i class="far fa-cogs"></i>
                    </a>
                    <a (click)="events.trigger(CustomEvent.Logout)" colour="danger" data-dropdown-link>
                        Logout
                        <i class="far fa-sign-out-alt"></i>
                    </a>
                </div>
            </pi-drop-down>
        </button>
    </ng-container>
</div>

<ng-template #loggedOutLinks>
    <button type="button" class="button mr-s" background="light" (click)="events.trigger(CustomEvent.Register)">Register</button>
    <button type="button" class="button mr" background="light" (click)="events.trigger(CustomEvent.Login)">Login</button>
</ng-template>
