:host {
    display: flex;
    flex-direction: column;
    padding: 0 !important;

    &:hover {
        cursor: default;
    }
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    font-weight: bold;
    color: var(--sc-colour-medium);
    height: 200px;
}

.notification-header {
    padding: 0.5rem;
    border-bottom: 2px solid var(--sc-colour-light);

    div {
        font-size: 16px;
        font-weight: 500;
    }
}

.notifications {
    max-height: 363px;
    overflow: auto;
    padding: 0.25rem 0;
}

.notification {
    position: relative;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 500;

    &.unread .unread-bar {
        display: block;
    }

    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    .timestamp {
        color: var(--sc-colour-medium);
        font-size: 12px;
    }

    .unread-bar {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 100%;
        background: var(--sc-colour-primary);
        transform: translateX(-2px);
        transition: ease 0.25s;
        z-index: 1;

        &:hover {
            transform: translateX(0);
            cursor: pointer;
            background: var(--sc-colour-primary-shade);
        }
    }

    .inner-notif {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--sc-colour-light-contrast);
        padding: 0.5rem;

        &:hover {
            background-color: var(--sc-colour-default-shade);

            .img-icon,
            .img {
                background-color: var(--sc-colour-default);
            }
        }

        .img-icon,
        .img {
            width: 40px;
            height: 40px;
            margin-right: 0.5rem;
            background: var(--sc-colour-default-shade) no-repeat center;
            border-radius: 50%;
            transition: 0.25s ease;
            flex-shrink: 0;
        }

        .img-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            font-size: 18px;
        }

        .img {
            background-size: cover;
        }
    }
}

.global-dot {
    position: absolute;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: var(--sc-colour-secondary);
    border-radius: 50%;
}
