<div class="flex-row flex-align mb-s">
    <ng-container *ngIf="content" [ngTemplateOutlet]="content" [ngTemplateOutletContext]="context"></ng-container>

    <ng-container *ngIf="result?.totalRows || filtered">
        <div class="flex-spacer"></div>

        <button class="button ml-s" background="primary" type="button" (click)="create()">New Post</button>

        <button class="button dropdown-toggle ml-s">
            <button
                type="button"
                class="remove-ico mr-s"
                (click)="removeOrderBy(); search(); $event.stopPropagation()"
                tippy="Remove filter"
                placement="left"
                *ngIf="!sameOrderBy()"
            >
                <i class="far fa-times"></i>
            </button>

            <span *ngIf="!pager.orderBy">Order By</span>

            <strong *ngIf="pager.orderBy">{{ 'posts.order_by.' + pager.orderBy | trx }}</strong>

            <i class="far fa-angle-down ml-s"></i>

            <pi-drop-down position="bottomleft">
                <div class="link-section">
                    <button
                        type="button"
                        *ngFor="let o of orderByValues"
                        (click)="pager.orderBy = o; search()"
                        [class.active]="pager.orderBy === o"
                        data-dropdown-link
                    >
                        {{ 'posts.order_by.' + o | trx }}
                    </button>
                </div>
            </pi-drop-down>
        </button>

        <button
            type="button"
            class="ml-s"
            (click)="pager.orderDir = 'desc'; search()"
            tippy="Sort by descending"
            placement="bottom-start"
            *ngIf="pager.orderBy && pager.orderDir === 'asc'"
        >
            <i class="far fa-sort-amount-down-alt"></i>
        </button>
        <button
            class="ml-s"
            (click)="pager.orderDir = 'asc'; search()"
            tippy="Sort by ascending"
            placement="bottom-start"
            *ngIf="pager.orderBy && pager.orderDir === 'desc'"
        >
            <i class="far fa-sort-amount-up-alt"></i>
        </button>
    </ng-container>
</div>

<ng-container *ngIf="!getting; else loadingRef">
    <div class="full-content" *ngIf="!result?.totalRows">
        <p>No posts have been add yet!</p>
        <button type="button" class="button mt-s" background="primary" (click)="create()">
            New Post <i class="far fa-add icon" position="right"></i>
        </button>
    </div>

    <div class="flex-col flex-spacer" *ngIf="result?.totalRows">
        <div>
            <pi-post [post]="post" (postChange)="updated($i, $event)" *ngFor="let post of result.rows; let $i = index"></pi-post>
        </div>

        <div class="mt-a">
            <pi-paging [rows]="result.totalRows" [pageSize]="pager.pageSize" [page]="pager.page" (pageChange)="changePage($event)"></pi-paging>
        </div>
    </div>
</ng-container>

<ng-template #loadingRef>
    <div class="full-content">
        <p>Loading</p>
        <p><i class="fas fa-spinner-third fa-spin"></i></p>
    </div>
</ng-template>
