<div class="form-box flex-row-align pb mb-l" *ngIf="!authState.provider">
    <div>
        <span class="label">Password</span>
        <small>Improve your security with a strong password</small>
    </div>

    <div class="flex-spacer"></div>

    <button id="password-btn" class="button ml" background="primary" (click)="changePassword()">Change Password</button>
</div>

<h2>Two-Factor Authentication</h2>
<div class="mb-s">
    <small>Increase your security by enabling two-factor authentication</small>
</div>

<div class="form-box" *ngIf="!!authState.provider">Two-factor authentication capabilities are not enabled for external login providers</div>

<div class="form-box" *ngIf="!authState.user?.emailConfirmed && !authState.provider">
    You must have a verified email to enable two-factor authentication capabilities
</div>

<ng-container *ngIf="authState.user?.emailConfirmed && !authState.provider">
    <div class="form-box flex-row-align">
        <div>
            <span class="label">Authenticator App</span>
            <small>When you sign in you'll be required to use the security code provided by your Authenticator App</small>
        </div>

        <div class="flex-spacer"></div>

        <button id="remove-btn" class="button ml" background="danger" (click)="remove()" *ngIf="usingApp">Remove</button>

        <button id="enable-1-btn" class="button ml" background="primary" (click)="setupApp()" *ngIf="!usingApp && !usingAny">Enable</button>
    </div>

    <div class="form-box flex-row-align mt-s">
        <div>
            <span class="label">Email Authentication</span>
            <small>When you sign in you'll be required to use the security code provided in your email</small>
        </div>

        <div class="flex-spacer"></div>

        <button id="remove-btn" class="button ml" background="danger" (click)="remove()" *ngIf="usingEmail">Remove</button>

        <button id="enable-2-btn" class="button ml" background="primary" (click)="setupEmail()" *ngIf="!usingEmail && !usingAny">Enable</button>
    </div>

    <div class="form-box flex-row-align mt-s">
        <div>
            <span class="label">SMS Authentication</span>
            <small>When you sign in you'll be required to use the security code provided via an SMS</small>
        </div>

        <div class="flex-spacer"></div>

        <button id="remove-btn" class="button ml" background="danger" (click)="remove()" *ngIf="usingSms">Remove</button>

        <button id="enable-3-btn" class="button ml" background="primary" (click)="setupSms()" *ngIf="!usingSms && !usingAny">Enable</button>
    </div>
</ng-container>

<h2 class="mt mb-s pt">Delete Account</h2>
<div class="form-box">
    <span class="label">If you wish to leave us, we won't stop you</span>
    <p><small colour="danger">You will not be able to recover your account</small></p>

    <button class="button" background="danger" (click)="deleteAccount()">Delete Account</button>
</div>
