<div class="picture-filters flex-row-align">
    <ng-content *ngIf="result"></ng-content>

    <ng-container *ngIf="allFilters?.locations.length > 0 || filters?.tags.length > 0">
        <button class="button dropdown-toggle" *ngIf="allFilters.locations.length > 0">
            Location <i class="far fa-angle-down ml-s"></i>

            <sc-drop-down position="bottomright" [width]="250">
                <div class="link-search">
                    <div class="form-section button-attached flex-row">
                        <input class="input" type="text" #locationInput placeholder="Search for a location" />
                        <label class="button affix icon-only" background="primary"><i class="fas fa-search"></i></label>
                    </div>
                </div>

                <div class="link-scrollable">
                    <div class="link-section" *ngFor="let country of filters.locations; let $i = index">
                        <button
                            class="link-title"
                            (click)="filter.countries[country.code] = !filter.countries[country.code]; setFilters(); $event.preventDefault()"
                            [disabled]="getting.init"
                        >
                            {{ 'countries.' + country.code | trx: {}:country.name }}
                            <input [id]="country.code" type="checkbox" class="no-pe ml-a" [checked]="filter.countries[country.code]" />
                        </button>

                        <ng-container *ngIf="!filter.countries[country.code]">
                            <button
                                class="link-item"
                                (click)="filter.locations[loc.code] = !filter.locations[loc.code]; setFilters(); $event.preventDefault()"
                                [disabled]="getting.init"
                                *ngFor="let loc of country.locations"
                            >
                                <input [id]="loc.code" class="no-pe" type="checkbox" [checked]="filter.locations[loc.code]" [disabled]="getting.init" />
                                {{ 'locations.' + loc.code | trx: {}:loc.name }}
                            </button>
                        </ng-container>
                    </div>
                </div>
            </sc-drop-down>
        </button>

        <button class="button dropdown-toggle ml" *ngIf="allFilters.tags.length > 0">
            Tag <i class="far fa-angle-down ml-s"></i>

            <sc-drop-down position="bottomright" [width]="250">
                <div class="link-search">
                    <div class="form-section button-attached flex-row">
                        <input class="input" type="text" #tagInput placeholder="Search for a tag" [disabled]="getting.init" />
                        <label class="button affix icon-only" background="primary"><i class="fas fa-search"></i></label>
                    </div>
                </div>

                <div class="link-scrollable">
                    <div class="link-section" *ngFor="let tag of filters.tags; let $i = index">
                        <label class="link-title" (click)="filter.tags[tag] = !filter.tags[tag]; setFilters(); $event.preventDefault()">
                            {{ tag }}
                            <input [id]="tag" type="checkbox" class="no-pe ml-a" [checked]="filter.tags[tag]" />
                        </label>
                    </div>
                </div>
            </sc-drop-down>
        </button>
    </ng-container>

    <ng-container *ngIf="result?.totalRows || filtered">
        <button class="button dropdown-toggle ml-a">
            <button
                type="button"
                class="remove-ico mr-s"
                (click)="removeOrderBy(); reload(); $event.stopPropagation()"
                tippy="Remove filter"
                placement="left"
                *ngIf="!sameOrderBy()"
            >
                <i class="far fa-times"></i>
            </button>

            <span *ngIf="!pager.orderBy">Order By</span>

            <strong *ngIf="pager.orderBy">{{ 'pictures.order_by.' + pager.orderBy | trx }}</strong>

            <i class="far fa-angle-down ml-s"></i>

            <sc-drop-down position="bottomleft">
                <div class="link-section">
                    <button
                        type="button"
                        *ngFor="let o of enum_values"
                        (click)="pager.orderBy = o; reload()"
                        [class.active]="pager.orderBy === o"
                        data-dropdown-link
                    >
                        {{ 'pictures.order_by.' + o | trx }}
                    </button>
                </div>
            </sc-drop-down>
        </button>

        <button
            class="ml-s"
            (click)="pager.orderDir = 'desc'; reload()"
            tippy="Sort by descending"
            placement="bottom-start"
            *ngIf="pager.orderBy && pager.orderDir === 'asc'"
        >
            <i class="far fa-sort-amount-down-alt"></i>
        </button>
        <button
            class="ml-s"
            (click)="pager.orderDir = 'asc'; reload()"
            tippy="Sort by ascending"
            placement="bottom-start"
            *ngIf="pager.orderBy && pager.orderDir === 'desc'"
        >
            <i class="far fa-sort-amount-up-alt"></i>
        </button>
    </ng-container>
</div>

<div class="picture-applied-filters flex-row-align mb" *ngIf="params.countries?.length || params.locations?.length || params.tags?.length">
    <button type="button" class="pill mr-s" *ngFor="let code of params.locations" (click)="filter.locations[code] = false; setFilters()">
        {{ 'locations.' + code | trx: {}:locationMap[code] }}
        <i class="fas fa-times ml-s"></i>
    </button>

    <button
        type="button"
        class="pill mr-s"
        [class.not-seen]="!countryMap[code]"
        *ngFor="let code of params.countries"
        (click)="filter.countries[code] = !filter.countries[code]; setFilters()"
    >
        {{ 'countries.' + code | trx: {}:countryMap[code] }}
        <i class="fas fa-times ml-s"></i>
    </button>

    <button type="button" class="pill mr-s" *ngFor="let tag of params.tags" (click)="filter.tags[tag] = !filter.tags[tag]; setFilters()">
        {{ 'tags.' + tag | trx: {}:tag }}
        <i class="fas fa-times ml-s"></i>
    </button>

    <button type="button" class="pill mr-s" *ngIf="params.bounds" (click)="filter.bounds = null; setFilters()">
        Within Map Bounds
        <i class="fas fa-times ml-s"></i>
    </button>
</div>

<sc-show-map
    class="card-shadow mb"
    [options]="mapOptions"
    [selectable]="true"
    (selected)="filter.bounds = $event; setFilters()"
    [height]="25"
    *ngIf="mapOptions && (!getting.init || reloading)"
></sc-show-map>

<div class="flex-col flex-spacer" *ngIf="!getting.init || reloading; else loadingRef" @fade>
    <div
        infinite-scroll
        [infiniteScrollDistance]="3"
        [infiniteScrollUpDistance]="6"
        [infiniteScrollThrottle]="150"
        (scrolled)="nextPage()"
        (scrolledUp)="prevPage()"
        *ngIf="result?.totalRows; else noPictureRef"
    >
        <div grid=".picture">
            <div class="picture card-shadow" *ngFor="let picture of result.rows || []; let $i = index">
                <button
                    class="button icon-only edit"
                    type="button"
                    tippy="Edit"
                    placement="top"
                    (click)="edit($i)"
                    *ngIf="authState.loggedIn && picture.username === authState.user.username"
                >
                    <i class="icon far fa-pencil"></i>
                </button>

                <a [routerLink]="'/picture/' + picture.pictureId">
                    <img [lazyLoad]="picture.path | imgUrl" [width]="picture.width" [height]="picture.height" />
                    <div class="lazyloader"><i class="fas fa-spinner-third fa-spin"></i></div>

                    <div class="picture-section">
                        <p class="name">{{ picture.name }}</p>

                        <p class="location" *ngIf="picture.location">
                            <i class="far fa-map-marker-alt"></i>
                            {{ 'locations.' + picture.location.code | trx: {}:picture.location.name }},
                            {{ 'countries.' + picture.location.country.code | trx: {}:picture.location.country.name }}
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<ng-template #loadingRef>
    <sc-skeleton-text class="" height="25vh" [animated]="true"></sc-skeleton-text>

    <div class="skeleton-grid mt">
        <sc-skeleton-text class="" height="300px" [animated]="true"></sc-skeleton-text>
        <sc-skeleton-text class="" height="300px" [animated]="true"></sc-skeleton-text>
        <sc-skeleton-text class="" height="300px" [animated]="true"></sc-skeleton-text>
        <sc-skeleton-text class="" height="300px" [animated]="true"></sc-skeleton-text>
    </div>
</ng-template>

<ng-template #noPictureRef>
    <div class="card" *ngIf="filtered">
        <i class="far fa-frown mr-s"></i>
        No pictures could be found
    </div>

    <div *ngIf="!filtered" class="full-content">
        <ng-content select="[empty]"></ng-content>
    </div>
</ng-template>

<div id="reloading-pictures" [class.visible]="reloading">
    <i class="fas fa-spinner-third fa-spin" colour="success"></i> &nbsp; Loading awesome pictures
</div>
