$cover-width: 330px;
$cover-height: 300px;

:host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.collections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(#{$cover-width}, 0fr));
    grid-gap: 1rem;

    .collection {
        width: $cover-width;
        height: $cover-height;
        padding: 0 !important;

        &:hover {
            opacity: 1;

            .collection-name {
                background-color: var(--sc-colour-primary-shade);
            }

            .collection-grid,
            .no-picture {
                opacity: 0.75;
            }
        }

        .no-picture {
            height: 100%;
            background: var(--sc-colour-default) url('/assets/images/layer-group-light.svg') no-repeat center;
            background-size: 25%;
            transition: ease 0.25s;
        }

        .collection-grid {
            height: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: calc($cover-height / 2);
            transition: ease 0.25s;
            overflow: hidden;
            background-color: var(--sc-colour-default);

            &.three-rows {
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: calc($cover-height / 3);

                div:nth-child(odd) {
                    background-color: var(--sc-colour-light-tint);
                }
            }

            &:not(.three-rows) {
                div:first-child,
                div:last-child {
                    background-color: var(--sc-colour-light-tint);
                }
            }

            > div:empty {
                background-image: url('/assets/images/layer-group-light.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 25%;
            }
        }

        img {
            width: 100%;
            height: 100%;
            overflow: hidden;
            object-fit: cover;

            &.no-picture {
                width: 50%;
                height: 50%;
                object-fit: contain;
            }
        }

        .collection-name {
            position: absolute;
            top: -14px;
            left: 10px;
            min-width: 50px;
            text-align: center;
            background-color: var(--sc-colour-primary);
            color: var(--sc-colour-primary-contrast);
            padding: 0.4rem 0.5rem;
            box-shadow: 0 0 6px rgba(var(--sc-colour-dark-rgb), 0.05);
            transition: ease 0.25s;
        }
    }
}
