:host {
    width: 100%;
    max-width: 450px;
}

.form-content {
    width: 100%;
    border-radius: var(--sc-br);

    .message {
        margin-top: 0.25rem;
        font-size: 1.1em;

        ::ng-deep {
            p:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }

    h2 + .message {
        font-size: 1em;
    }

    h2 + .form-section {
        margin-top: 0.5rem;
    }

    label {
        color: var(--sc-colour-default-contrast);
    }

    .small-label {
        font-size: 13px;
        color: var(--sc-colour-medium-shade);
    }
}
