<sc-modal-wrapper background="light" [showClose]="true" (closed)="dismiss()">
    <h2 class="mb">Edit Picture</h2>

    <form class="form" (submit)="update()" [formGroup]="form" novalidate="novalidate" *ngIf="form else loadingRef" @fade>
        <div class="form-box">
            <label>Title</label>
            <small colour="medium">A short description describing your picture</small>
            <div class="form-section button-attached">
                <input id="pic-name" class="input" type="text" autocomplete="name" formControlName="name" />
                <label for="pic-name" class="button affix icon-only" background="primary">
                    <i class="icon far fa-pencil"></i>
                </label>
            </div>
            <div class="mt-s">
                <small *ngIf="form.get('name').hasError('minlength')" class="mt-s" colour="danger"> {{ 'form_errors.minlength' | trx }} </small>
                <small *ngIf="form.get('name').hasError('maxlength')" class="mt-s" colour="danger"> {{ 'form_errors.maxlength' | trx }} </small>
            </div>
        </div>

        <div class="form-box mt">
            <label>Show Real Location</label>
            <small colour="medium">Choose to display the real location, or an approximate location on a map</small>

            <sc-toggle-switch [parent]="form" name="useRealCoords"></sc-toggle-switch>
        </div>

        <div class="form-box mt">
            <label>Tags</label>
            <small>Choose up to <strong>10</strong> tags to describe your picture</small>

            <div class="tags" [sortablejs]="picture.tags">
                <button
                    type="button"
                    class="pill mr-s mt-s"
                    [attr.background]="form.value.tags.includes(tag.value) ? 'dark' : null"
                    (click)="addRemoveTag(tag.value)"
                    *ngFor="let tag of (allTags || []); let $i = index"
                >
                    {{ tag.value }}
                </button>
            </div>
        </div>

        <div class="flex-row-align mt">
            <button type="button" class="button" (click)="dismiss()">Cancel</button>

            <div class="flex-spacer"></div>

            <button type="button" id="delete-btn" class="button icon-only mr-s" background="danger" tippy="Delete" placement="top" (click)="delete()">
                <i class="icon far fa-trash"></i>
            </button>

            <button type="submit" id="save-btn" class="button" background="primary" [disabled]="form.invalid">Save</button>
        </div>
    </form>
</sc-modal-wrapper>

<ng-template #loadingRef>
    <sc-skeleton-text class="form-box" height="120px" [animated]="true" [light]="true"></sc-skeleton-text>
    <sc-skeleton-text class="mt" height="120px" [animated]="true" [light]="true"></sc-skeleton-text>
    <sc-skeleton-text class="mt" height="120px" [animated]="true" [light]="true"></sc-skeleton-text>
</ng-template>
