.settings-icon > svg {
    font-size: 1.75rem;
}

.user-links {
    display: flex;
    flex-direction: row;

    a {
        color: var(--sc-colour-primary-contrast);
        text-align: center;
        margin: 0 1vw;

        .text {
            display: block;
            padding: 1px 5px;
            border-radius: 15px;
            margin-bottom: 2px;
        }

        .count {
            font-size: 18px;
            font-weight: bold;
        }

        &.active {
            opacity: 1;

            .text {
                color: var(--sc-colour-primary);
                background-color: var(--sc-colour-primary-contrast);
            }
        }
    }
}
