<sc-page>
    <sc-page-header *ngIf="user || loading">
        <div *ngIf="user && !loading" @fade>
            <div class="flex-row-align">
                <div class="flex-row-align">
                    <sc-avatar [name]="user.username" [size]="38" bg="var(--sc-colour-primary-contrast)" fg="var(--sc-colour-primary)"></sc-avatar>
                    <div class="ml-s">
                        <h2>{{ user.username | titlecase }}</h2>
                    </div>
                </div>

                <div class="flex-spacer"></div>

                <div class="user-links" *ngIf="author">
                    <a [href]="'/user/' + username + '/drafts'" [class.active]="action === 'drafts'" (click)="changeAction('drafts', $event)">
                        <span class="text">Drafts</span> <span class="count">{{ stats?.drafts }}</span>
                    </a>
                    <a [href]="'/user/' + username" [class.active]="action === ''" (click)="changeAction('', $event)">
                        <span class="text">Pictures</span> <span class="count">{{ stats?.published + stats?.pending }}</span>
                    </a>
                    <a
                        [href]="'/user/' + username + '/collections'"
                        [class.active]="action === 'collections'"
                        (click)="changeAction('collections', $event)"
                    >
                        <span class="text">Collections</span> <span class="count">{{ stats?.collections }}</span>
                    </a>
                    <a [href]="'/user/' + username + '/likes'" [class.active]="action === 'likes'" (click)="changeAction('likes', $event)">
                        <span class="text">Likes</span> <span class="count">{{ stats?.likes }}</span>
                    </a>
                </div>

                <div class="flex-spacer"></div>

                <a class="button ml" routerLink="/settings" *ngIf="author">Settings</a>

                <button
                    *ngIf="(!author && authState.loggedIn && !reported) || authState.is_admin"
                    class="settings-icon dropdown-toggle ml"
                    colour-contrast="primary"
                >
                    <i class="far fa-ellipsis-h"></i>

                    <sc-drop-down position="bottomleft" [width]="200" [y]="-12">
                        <div class="link-section">
                            <button type="button" (click)="report()" *ngIf="!author">Report</button>
                            <button type="button" (click)="changeSettings()" *ngIf="authState.is_admin">Content Settings</button>
                        </div>
                    </sc-drop-down>
                </button>
            </div>
        </div>

        <div class="flex-row-align" *ngIf="loading">
            <sc-skeleton-text height="35px" width="35px" radius="50%" [animated]="true"></sc-skeleton-text>
            <sc-skeleton-text height="25px" width="200px" [animated]="true" class="ml"></sc-skeleton-text>
        </div>
    </sc-page-header>

    <sc-page-content>
        <div class="container flex-col" *ngIf="user else loadingRef">
            <sc-show-pictures [fixedParams]="{ username: username }" *ngIf="!action">
                <ng-container *ngTemplateOutlet="noPictureRef" empty></ng-container>
            </sc-show-pictures>

            <sc-show-pictures [fixedParams]="{ username: username, drafts: true }" *ngIf="action === 'drafts'">
                <ng-container *ngTemplateOutlet="noPictureRef" empty></ng-container>
            </sc-show-pictures>

            <sc-show-pictures [fixedParams]="{ username: username, likes: true }" *ngIf="action === 'likes'">
                <ng-container empty>{{ author ? 'You haven\'t liked anything yet' : 'They haven\'t liked anything yet' }}</ng-container>
            </sc-show-pictures>

            <sc-show-collections [fixedParams]="{ username: username }" *ngIf="action === 'collections'">
                <button type="button" class="button ml-a mr" background="primary" (click)="openNewCollection()">
                    New Collection <i class="icon far fa-plus"></i>
                </button>

                <ng-container *ngIf="!author" empty>Nothing to show</ng-container>
                <ng-container *ngIf="author" empty>
                    <p>Create your first collection</p>
                    <button class="button mt-s" (click)="openNewCollection()">
                        New Collection
                        <i class="icon far fa-plus"></i>
                    </button>
                </ng-container>
            </sc-show-collections>
        </div>
    </sc-page-content>
</sc-page>

<ng-template #loadingRef>
    <div *ngIf="!loading" class="full-content">hmm, we couldn't find this user</div>

    <div *ngIf="loading" class="container flex-row">
        <sc-skeleton-text height="25px" width="200px" [animated]="true" class="mt"></sc-skeleton-text>
    </div>
</ng-template>

<ng-template #noPictureRef>
    <ng-container *ngIf="!author">Nothing to show</ng-container>

    <ng-container *ngIf="author">
        <p>Upload a picture</p>
        <button class="button mt-s" (click)="events.trigger(CustomEvent.Upload)" *ngIf="authState.contentSettings?.uploadEnabled">
            Upload
            <i class="icon far fa-upload"></i>
        </button>
    </ng-container>
</ng-template>
