<pi-page>
    <pi-page-header *ngIf="user || loading">
        <div *ngIf="user && !loading" @fade>
            <div class="flex-row-align">
                <div class="flex-row-align">
                    <pi-avatar [name]="user.username" [size]="38" bg="var(--pi-colour-primary-contrast)" fg="var(--pi-colour-primary)"></pi-avatar>
                    <div class="ml-s">
                        <h2>{{ user.username | titlecase }}</h2>
                    </div>
                </div>

                <div class="flex-spacer"></div>

                <button
                    *ngIf="(!author && authState.loggedIn && !reported) || authState.is_admin"
                    class="settings-icon dropdown-toggle ml"
                    colour-contrast="primary"
                >
                    <i class="far fa-ellipsis-h"></i>

                    <pi-drop-down position="bottomleft" [width]="200" [y]="-12">
                        <div class="link-section">
                            <button type="button" (click)="report()" *ngIf="!author">Report</button>
                        </div>
                    </pi-drop-down>
                </button>
            </div>
        </div>

        <div class="flex-row-align" *ngIf="loading">
            <pi-skeleton-text height="35px" width="35px" radius="50%" [animated]="true"></pi-skeleton-text>
            <pi-skeleton-text height="25px" width="200px" [animated]="true" class="ml"></pi-skeleton-text>
        </div>
    </pi-page-header>

    <pi-page-content>
        <div class="container flex-col" *ngIf="user else loadingRef">This is the user page :)</div>
    </pi-page-content>
</pi-page>

<ng-template #loadingRef>
    <div *ngIf="!loading" class="full-content">hmm, we couldn't find this user</div>

    <div *ngIf="loading" class="container flex-row">
        <pi-skeleton-text height="25px" width="200px" [animated]="true" class="mt"></pi-skeleton-text>
    </div>
</ng-template>
